
@{
    ViewBag.Title = "Error";
}

<h2><i class="layui-icon layui-icon-404" style="font-size:120px"></i></h2>
<fieldset class="layui-elem-field">
    <legend>错误操作</legend>
    <div class="layui-field-box">
        <h1>您访问的页面不存在！</h1>
    </div>
</fieldset>
