
@{
    ViewBag.Title = "Error404";
}

<h2><i class="layui-icon layui-icon-404" style="font-size:120px"></i>错误页</h2>
<fieldset class="layui-elem-field">
    <legend>错误操作</legend>
    <div class="layui-field-box">
        错误信息：无
    </div>
</fieldset>