
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "注册成功";
}

<h2>@ViewBag.Msg</h2>
<fieldset class="layui-elem-field" style="margin-top:100px">
    <legend>以下代码仅用于项目测试使用</legend>
    <div class="layui-field-box">
        请通过单击 <a href="@ViewBag.ConfirmUrl">这里</a>来确认你的帐户
    </div>
</fieldset>
