
@{
    ViewBag.Title = "社团";
}
<table id="demo"></table>
<script id="club" type="text/html">
    <a href="/Clubs/Club?cid={{d.cid}}">{{ d.name }}</a>
</script>
<script id="createuserlink" type="text/html">
    <a href="/User?uid={{d.CreateUser}}">{{ d.CreateUserName }}</a>
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            , height: 312
            , url: '/GetData/GetAllClubData' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                { field: 'cid',title: '社团账号', sort: true }
                , { field: 'name', title: '名称', sort: true,templet:'#club'  }
                , { field: 'Desc', title: '描述'}
                , { field: 'CreateDate', title: '创建日期', sort: true }
                , { field: 'CreateUserName', title: '创建人',templet:'#createuserlink' } 
            ]]
        });

    });
    $("#c1").addClass("layui-this");
    $("#c1").parents("li").addClass("layui-nav-itemed")
</script>