
@{
    ViewBag.Title = "我的社团";
}
<style>
    .layui-table-cell{
        height:auto
    }
</style>
<h2>@ViewBag.Msg</h2>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>我的社团</legend>
    </fieldset>
    <div class="layui-tab" lay-filter="test">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="11">我加入的社团</li>
            <li lay-id="22">申请中的社团</li>
            <li lay-id="33">创建中的社团</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table class="layui-table" lay-data="{height:305, url:'/Clubs/JoinedClubData', page:true, id:'table1', skin: 'row', even: true}">
                    <thead>
                        <tr>
                            <th lay-data="{field:'Id', sort: true}">系统编号</th>
                            <th lay-data="{field:'Club', templet: '#clubTpl'}">社团</th>
                            <th lay-data="{field:'Status', sort: true, templet: '#statusTpl'}">职位</th>
                            <th lay-data="{field:'Desc'}">备注</th>
                            <th lay-data="{field:'CreateDate', sort: true}">入社日期</th>
                            <th lay-data="{fixed: 'right', align:'center', toolbar: '#barDemo'}"></th>
                        </tr>
                    </thead>
                </table>

                <script id="clubTpl" type="text/html">
                    <a href="/?club-id={{d.ClubId}}" class="layui-table-link" target="_blank">{{ d.Club }}</a>
                </script>
                <script id="statusTpl" type="text/html">
                    {{#  if(d.Status === '社长'){ }}
                    <span style="color: #ff0000;">{{ d.Status }}</span>
                    {{#  } else { }}
                    {{ d.Status }}
                    {{#  } }}
                </script>

                <script id="barDemo" type="text/html">
                    <a href="/Clubs/ExitClub?id={{d.ClubId}}" class="layui-btn layui-btn-xs" lay-event="edit">退出社团</a>
                </script>
            </div>
            <div class="layui-tab-item">
                <table class="layui-table" lay-data="{height:305, url:'/Clubs/JoiningClubData', page:true, id:'table2', skin: 'row', even: true}">
                    <thead>
                        <tr>
                            <th lay-data="{field:'Id', sort: true}">系统编号</th>
                            <th lay-data="{field:'CheckState', templet: '#statusTpl2'}">状态</th>
                            <th lay-data="{field:'ApplyDate', sort: true}">申请日期</th>
                            <th lay-data="{fixed: 'right', align:'center', toolbar: '#barDemo2'}"></th>
                        </tr>
                    </thead>
                </table>

                <script id="statusTpl2" type="text/html">
                    {{#  if(d.CheckState === '通过'){ }}
                    <span style="color: green;">{{ d.CheckState }}</span>
                    {{#  } else if(d.CheckState === '拒绝'){ }}
                    <span style="color: red;">{{ d.CheckState }}</span>
                    {{#  } else if(d.CheckState === '审核中'){ }}
                    <span style="color: blue;">{{ d.CheckState }}</span>
                    {{#  } else{ }}
                    {{ d.CheckState }}
                    {{#  } }}
                </script>

                <script id="barDemo2" type="text/html">
                    {{#  if(d.CheckState === '已创建'){ }}
                    <a href="/Clubs/ApplyClubSubmit?id={{d.Id}}" class="layui-btn layui-btn-xs" lay-event="edit">提交</a>
                    <span style="margin:0 10px">|</span>
                    <a href="~?id={{d.Id}}" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="edit">撤销</a>
                    {{#  } else if(d.CheckState === '通过'){ }}
                    <span style="color: green;">恭喜你的申请已经通过！</span>
                    {{#  } else if(d.CheckState === '审核中'){ }}
                    <span style="color: blue;">请耐心等待申请结果</span>
                    {{#  } else if(d.CheckState === '拒绝'){ }}
                    <span style="color: red;">请通过详细信息查看被拒绝的原因</span>
                    {{#  } }}
                </script>
            </div>
            <div class="layui-tab-item">
                <table class="layui-table" lay-data="{height:305, url:'/Clubs/ApplyingClubData', page:true, id:'table3', skin: 'row', even: true}">
                    <thead>
                        <tr>
                            <th lay-data="{field:'Id', sort: true}">系统编号</th>
                            <th lay-data="{field:'CheckState', templet: '#statusTpl3'}">状态</th>
                            <th lay-data="{field:'ApplyDate', sort: true}">申请日期</th>
                            <th lay-data="{fixed: 'right', align:'center', toolbar: '#barDemo3'}"></th>
                        </tr>
                    </thead>
                </table>

                <script id="statusTpl3" type="text/html">
                    {{#  if(d.CheckState === '通过'){ }}
                    <span style="color: green;">{{ d.CheckState }}</span>
                    {{#  } else if(d.CheckState === '拒绝'){ }}
                    <span style="color: red;">{{ d.CheckState }}</span>
                    {{#  } else if(d.CheckState === '审核中'){ }}
                    <span style="color: blue;">{{ d.CheckState }}</span>
                    {{#  } else{ }}
                    {{ d.CheckState }}
                    {{#  } }}
                </script>

                <script id="barDemo3" type="text/html">
                    {{#  if(d.CheckState === '已创建'){ }}
                    <a href="/Clubs/ApplyClubSubmit?id={{d.Id}}" class="layui-btn layui-btn-xs" lay-event="edit">提交</a>
                    <span style="margin:0 10px">|</span>
                    <a href="~?id={{d.Id}}" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="edit">撤销</a>
                    {{#  } else if(d.CheckState === '通过'){ }}
                <div>
                    <span style="color: green;">恭喜你的申请已经通过！</span>
                    <br />@Html.ActionLink("请点击这里填写社团信息完成注册", "Index", "Home")
                    <br /><span style="color: red;">已完成注册请忽略此链接！</span>
                </div>                  
                    {{#  } else if(d.CheckState === '审核中'){ }}
                    <span style="color: blue;">请耐心等待申请结果</span>
                    {{#  } else if(d.CheckState === '拒绝'){ }}
                    <span style="color: red;">请通过详细信息查看被拒绝的原因</span>
                    {{#  } }}
                </script>
            </div>
        </div>
    </div>
    <script>
layui.use(['element','table'], function(){
    var $ = layui.jquery
        , element = layui.element //Tab的切换功能，切换事件监听等，需要依赖element模块
        , table = layui.table;
  //Hash地址的定位
  var layid = location.hash.replace(/^#test=/, '');
  element.tabChange('test', layid);

  element.on('tab(test)', function(elem){
    location.hash = 'test='+ $(this).attr('lay-id');
  });

});
    </script>